.wrap {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;

  .register {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    background: white;
    height: 90vh;
    width: 60%;
    text-align: center;

    h1 {
      margin-top: 0;
    }

    .progress {
      height: 120px;
      align-self: center;
      width: 79%;
    }

    .form {
     width: 75%;
    }
  }
}
