<!--<app-toolbar></app-toolbar>-->
<header>
  <section class="header"
           fxLayoutAlign="space-between center">
    <div class="header_logo" (click)="goToHome()">
      <span class="bold">Z</span>
      <span>locator</span>
    </div>
    <div class="header_menu">
      <button class="primary" (click)="goToRegistr()">Find Broker</button>
<!--      <button class="default">Explore</button>-->
<!--      <button class="default">Sign in</button>-->
<!--      <button class="default">Log in</button>-->
    </div>
  </section>
</header>
