.header {
  background-color: #fff;
  height: 50px;
  border-bottom: 1px solid #e9eced;
  margin: 0;

  &_logo {
    padding: 0 10px;
    width: 120px;
    cursor: pointer;

    .bold {
      font-weight: bold;
      margin-right: 1px;
    }
  }

  &_menu {
    height: 95%;

    .primary {
      color: #fff;
      background-color: #e74643;
      border-color: transparent;
      padding: 0 22px;
      border-radius: 4px;
      min-height: 36px;
      line-height: 20px;
      font-size: 14px;
      margin: 5px;
    }

    .default {
      margin-left: 10px;
      height: 100%;
      border: none;
      background: transparent;
      min-width: 80px;
      font-size: 14px;
      line-height: 20px;

      &:hover {
        box-shadow: inset 0 -3px 0 #e74643;
        outline: none;
      }
    }
  }
}
