<div class="progress">
    <!--    <mat-vertical-stepper class="stepper" [linear]="true" #stepper disableRipple="true">-->
    <!--        <mat-step>-->
    <!--            <ng-template matStepLabel>Registration</ng-template>-->
    <!--        </mat-step>-->
    <!--        <mat-step >-->
    <!--            <ng-template matStepLabel>Agent Assign</ng-template>-->
    <!--        </mat-step>-->
    <!--        <mat-step>-->
    <!--            <ng-template matStepLabel>Search Status</ng-template>-->
    <!--        </mat-step>-->
    <!--        <mat-step>-->
    <!--            <ng-template matStepLabel>My home</ng-template>-->
    <!--        </mat-step>-->
    <!--    </mat-vertical-stepper>-->
    <mat-horizontal-stepper labelPosition="bottom" #stepper class="stepper">
        <mat-step  matStepperIcon="phone">
            <ng-template matStepLabel>Registration</ng-template>
        </mat-step>
        <mat-step optional>
            <ng-template matStepLabel>Agent Assign</ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Search Status</ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>My home</ng-template>
        </mat-step>
    </mat-horizontal-stepper>
</div>
