
.stepper{
  margin-top: 30px;
  background-color: #e74643;
  border-radius: 4px;
  height: 53vh;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &::ng-deep{
    .mat-step-icon-selected,
    .mat-step-icon-state-edit{
      background-color: red;
    }
    .mat-step-label{
      color: white;
    }

  }
}
