<section>
    <div class="wrapper" fxLayout>
        <div class="tab-side" fxFlex="50%" fxLayoutAlign="end" fxFlexAlign="center">
            <div fxFlex="80%">
                <mat-tab-group animationDuration="0ms">
                    <mat-tab label="Find properties">
                        <div class="hire" *ngIf="location">
                            <h1>Find Your Dream Apartment</h1>
                            <mat-form-field>
                                <mat-label>Choose your city</mat-label>
                                <mat-select matInput [(value)]="city" name="food">
                                    <mat-option *ngFor="let city of cities" [value]="city">
                                        {{city}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="zip">
                                <mat-label>Zip Code</mat-label>
                                <input matInput type="text" [(ngModel)]="location.zip">
                            </mat-form-field>
                            <button>Search</button>
                        </div>
                    </mat-tab>
                    <mat-tab label="Find Broker">
                        <form fxLayout fxFlex="100%" class="broker-form" [formGroup]="brokerGroup">
                            <div class="hire broker" fxFlex="100%" fxLayout="column">
                                <div fxLayout class="input-wrap" fxLayoutAlign="center">
                                    <mat-form-field appearance="outline" class="half-w">
                                        <mat-label>First Name*</mat-label>
                                        <input matInput placeholder="First Name" formControlName="firstName">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="half-w">
                                        <mat-label>Last Name*</mat-label>
                                        <input matInput placeholder="Last Name*" formControlName="lastName">
                                    </mat-form-field>
                                </div>
                                <mat-form-field appearance="outline" class="w-84">
                                    <mat-label>Phone</mat-label>
                                    <input matInput placeholder="Phone" formControlName="phone">
                                </mat-form-field>
                                <button mat-button type="button" (click)="goToRegistr()">Submit</button>
                            </div>
                        </form>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <div class="image-side" fxFlex="50%">
        </div>
    </div>
</section>
